body {
    background-image: url(../wallpaper.jpg);
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 10px;
}
p {
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}
footer {
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
footer p {
    text-align: center;
    color: beige;
    font-weight: 100;
    font-size: 1.1rem;
    margin-bottom: 0;
}
button {
 margin: auto 0 ;
}
a {
text-decoration: none;
color: beige;
}
a:hover {
color: beige;
text-decoration: underline;
}
.card {
    margin: auto;
    position: relative;
    top: 15%;
    background-color: rgb(245, 178, 68);
    opacity: 78%;
    width: 20rem;
}
.card-title {
    text-align: center;
    margin-bottom: 20px;
}
.card-img-top {
    width: 8rem;
    border: 1px solid #ffe681;
    border-radius: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    position: relative;
    top: -5px;
}
.card-text {
    margin-bottom: 10px;
}
.card-text p {
    text-align: center; 
    margin-bottom: 0;
}
.info {
    margin-bottom: 2px;
    text-align: center;
}

